<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        #wrapper{
            height: 200px;
            width: 400px;
            border: 1px solid black;
            margin: auto;
            padding: 4px;
        }
        #left{
            width: 190px;
            float: left;
            border: 1px solid red;
            padding: 4px;
        }
        #right{
            width: 198px;
            float: left;
            border: 1px solid blue;
        }
        #left form input{
            margin-bottom: 4px;
        }
    </style>
</head>
<body>
  <h1>Dette er min nye side</h1>
  <div id="wrapper">
    <div id="left">
        <form action="/personData" method="post">
            <input type="text" name="first_name" placeholder="First name">
            <input type="text" name="last_name" placeholder="Last name">
            <input type="submit" value="Send data">
        </form>
    </div>
      <div id="right">
          <input type="checkbox" name="vehicle1" value="bike">I have a bike<br>
          <input type="checkbox" name="vehicle2" value="car">I have a car<br>
          <input type="checkbox" name="vehicle3" value="boat" checked="checked">I have a boat<br>
      </div>
  </div>
</body>
</html>